/* styles.css */

/* Ajoutez vos styles personnalisés ici */

/* Custom Navbar Styling */
.navbar-custom {
    background-color: #000; /* Couleur de fond noir */
}
.navbar-custom .navbar-brand {
    color: #fff; /* Couleur du texte */
}
.navbar-custom .navbar-nav .nav-link {
    color: #fff; /* Couleur du texte des liens */
}
.navbar-custom .navbar-nav .nav-link:hover {
    color: #aaa; /* Couleur du texte des liens au survol */
}

/* Animation */
.animate__animated {
    animation-duration: 3s; /* Augmentez la durée de l'animation */
}

.animate__backInDown {
    animation-name: backInLeft;
}

.animate__infinite {
    animation-iteration-count: infinite;
}

/* styles.css */

/* Custom Navbar Styling */
.navbar-custom {
    background-color: #000; /* Couleur de fond noir */
}

.navbar-custom .navbar-nav .nav-link {
    color: #fff; /* Couleur du texte des liens */
    position: relative; /* Définir la position relative pour les éléments enfants */
    text-decoration: none; /* Supprimer la décoration de texte par défaut */
}

.navbar-custom .navbar-nav .nav-link::after {
    content: ''; /* Contenu généré */
    position: absolute; /* Position absolue par rapport à l'élément parent */
    left: 0; /* Aligner à gauche */
    bottom: -3px; /* Distance de la ligne par rapport au texte */
    width: 0; /* Largeur initiale de la ligne */
    height: 1px; /* Hauteur de la ligne */
    background-color: #fff; /* Couleur de la ligne */
    transition: width 0.3s ease; /* Animation de transition de la largeur de la ligne */
}

.navbar-custom .navbar-nav .nav-link:hover::after {
    width: 100%; /* Largeur de la ligne sur survol */
}
